Repository yatskeech/modsen-test: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": "eslint --fix",
  "*.{js,ts,tsx,html,json}": "prettier --write"
}

fix: fix bugs in burger menu
  src/components/Burger/index.tsx
  src/components/Burger/styled.ts
  src/components/Header/styled.ts
  src/components/Pagination/styled.ts
Due: eslint --fix, prettier --write

fix: add overflow to layout
  src/components/Header/styled.ts
  src/layouts/Layout/styled.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

fix: add a scroll up when opening the burger
  src/components/Burger/index.tsx
  src/components/Burger/styled.ts
  src/layouts/Layout/styled.ts
  src/styled.ts
Due: eslint --fix, prettier --write

fix: fix pagination buttons
  src/assets/icons/arrow-right.svg
  src/components/Pagination/index.tsx
  src/components/Pagination/styled.ts
Due: eslint --fix, prettier --write

refactor: perform a small refactoring of the components
  src/components/Burger/index.tsx
  src/components/Burger/styled.ts
  src/components/Card/styled.ts
  src/components/NavigationList/index.tsx
  src/components/Pagination/index.tsx
Due: eslint --fix, prettier --write

feat: add a comment
  src/constants/index.ts
Due: eslint --fix, prettier --write

refactor: perform a small refactoring of the context
  src/context/index.tsx
Due: eslint --fix, prettier --write

refactor: perform a small page refactoring
  src/hooks/useFetch.ts
  src/hooks/usePaginate.ts
  src/hooks/useSearch.ts
  src/pages/ArtworkPage/index.tsx
  src/pages/FavoritesPage/index.tsx
  src/pages/FavoritesPage/styled.tsx
  src/pages/MainPage/index.tsx
  src/utils/api.ts
Due: eslint --fix, prettier --write

Create vercel.json
  vercel.json
Due: prettier --write
